apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: troshka-image-updater
  namespace: openshift-gitops
spec:
  applicationRefs:
    - namePattern: "troshka*"
      useAnnotations: true
