apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: troshka
  namespace: openshift-gitops
  annotations:
    argocd-image-updater.argoproj.io/image-list: >-
      backend=quay.io/redhat-gpte/troshka-backend,
      frontend=quay.io/redhat-gpte/troshka-frontend
    argocd-image-updater.argoproj.io/backend.update-strategy: digest
    argocd-image-updater.argoproj.io/frontend.update-strategy: digest
    argocd-image-updater.argoproj.io/backend.allow-tags: regexp:^production$
    argocd-image-updater.argoproj.io/frontend.allow-tags: regexp:^production$
    argocd-image-updater.argoproj.io/backend.helm.image-name: backend.image.repository
    argocd-image-updater.argoproj.io/backend.helm.image-tag: backend.image.tag
    argocd-image-updater.argoproj.io/frontend.helm.image-name: frontend.image.repository
    argocd-image-updater.argoproj.io/frontend.helm.image-tag: frontend.image.tag
    argocd-image-updater.argoproj.io/write-back-method: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/rhpds/troshka.git
    targetRevision: main
    path: deploy/helm
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: troshka
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
